* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 11px 41px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
}

.btn-dark {
    background: #171100;
}

.btn-yellow {
    background: #FFB900;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ========== Header ========== */

.header {
    /* background: red; */
    background: #FFFCF4;
    padding-top: 25px;
    position: sticky;
    z-index: 1;
    top: -25px;
}

.navbar {
    display: flex;
    padding: 11px 0;
    align-items: center;
    /* background: orange; */
}

.navbar .logo {
    margin-right: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 11px 0 11px 42px;
}

.navbar ul li:first-child a {
    color: #171100;
    padding-left: 0;
    position: relative;
}

.navbar ul li:first-child a::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 5px;

}

.navbar .btn {
    margin-left: 70px;
    font-size: 1.8rem;
}

/* ========== Hero ========== */

.hero-wrap {
    position: relative;
    height: calc(100vh - 64px);
    background: #FFFCF4;
    padding-top: 64px;
}

.hero-wrap .content {
    display: flex;
    justify-content: space-between;
}

.hero-wrap .img-block,
.hero-wrap .info {
    width: 50%;
}

.hero-wrap .img-block {
    position: relative;
}

.hero-wrap .img-block .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.hero-course {
    position: absolute;
    right: 0;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 270px;
    background: #fff;
    border-radius: 12px;
    padding: 24px;
}

.hero-course .row {
    display: flex;
}

.hero-course .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
    border-radius: 50%;
}

.hero-course .icon img {
    width: 24px;
    height: 24px;
}

.hero-course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

.hero-course-item .course-desc {
    font-size: 1.4rem;
    color: #5F5B53;
}

.hero-course-item .sub-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.hero-wrap .info {
    padding-left: 120px;
}

.hero-wrap .title {
    font-size: 5.8rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.18;
    font-family: 'Sen';
    margin-top: 64px;
    width: 470px;
}

.hero-wrap .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    color: #5F5B53;
    line-height: 1.68;
}

.hero-wrap .actions {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-wrap .btn {
    font-weight: 600;
    padding: 17px 34px;
    font-size: 1.8rem;
    border-radius: 30px;
}

.hero-wrap .video {
    margin-left: 24px;
}

.hero-wrap .video {
    display: flex;
    align-items: center;
}

.hero-wrap .btn-video {
    padding: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.hero-wrap .video span {
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
    margin-left: 14px;
}


.hero-wrap .stat-title {
    margin-top: 46px;
}

.hero-wrap .stat {
    display: flex;
    margin-top: 8px;
}

.hero-wrap .stat-item {
    display: flex;
    margin-left: 29px;
    align-items: flex-end;

}

.hero-wrap .stat-item:first-child {
    margin-left: 0;
}

.hero-wrap .stat-item strong {
    font-size: 4.4rem;
    font-weight: 600;
    color: #171100;
}

/* ========== Courses ========== */

.courses {
    padding: 200px 0;
}

.courses .row {
    display: flex;
    justify-content: space-between;
}

.courses .info {
    width: 458px;
}

.courses .sub-title {
    font-size: 3.8rem;
    font-weight: 600;
    font-family: 'Sen';
    letter-spacing: -0.02em;
}

.courses .info .desc {
    font-size: 1.8rem;
    line-height: 1.68;
    color: #5F5B53;
    margin-top: 16px;
}

.courses .arrows {
    display: flex;
    align-items: center;
}

.courses .prev-arrow,
.courses .next-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.courses .prev-arrow:hover,
.courses .next-arrow:hover {
    opacity: 0.9;
    cursor: pointer;
}

.courses .prev-arrow {
    background: #fff;
    border: 1px solid #FFB900;
}

.courses .next-arrow {
    margin-left: 18px;
    background: #FFB900;
}

.courses .item {
    flex: 1;
}

.courses .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.courses .list {
    margin-top: 55px;
    gap: 30px;
}

.courses .item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}

.courses .body {
    padding: 16px 22px 22px;
}

.courses .sub-row {
    display: flex;
    align-items: center;
}

.courses .sub-row .title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.75;
    margin-right: auto;
}

.courses .star {
    width: 18px;
    height: 18px;
}

.courses .value {
    font-size: 16px;
    color: #FEA31B;
    margin-left: 6px;
}

.courses .list .desc {
    font-size: 1.6rem;
    line-height: 1.86;
    color: #5F5B53;
    margin-top: 6px;
}

.courses .body .sub-row:last-child {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.courses .price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.68;
    color: #171100;
}

.courses .body .btn {
    line-height: 1.86;
    padding: 12px 24px;
    border: 35px;
}

/* ========== Reviews ========== */

.reviews {
    background: #2E2100;
    padding: 93px 0;
}

.reviews .content {
    display: flex;
}

.reviews .avatar-block {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: auto;
}

.reviews .avatar {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .username {
    font-family: 'Sen';
    margin-top: 18px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.42;
    color: #F7F7F7;
}

.reviews .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.avatar-block .dots {
    display: flex;
    margin-top: 28px;
}

.avatar-block .dot {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    margin-right: 6px;
}

.avatar-block .middle-dot {
    background: #FFB900;
}

.reviews .review {
    margin-left: 240px;

}

.reviews .quote {
    display: inline-block;
}

.reviews .review-detail {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.54;
    font-style: italic;
    color: #fff;
    margin-left: 30px;
}

/* ========== Features ========== */

.features {
    padding: 200px 0px;
}

.features .row {
    display: flex;
}


.features .img-block {
    display: flex;
    gap: 30px;
}

.features .img-block,
.features .info {
    width: 50%;
}

.features .img-wrapper {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    position: relative;
}

.features .img-wrapper .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

}

.features .img-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(255, 200, 0, 0.3), rgba(255, 255, 255, 0));
    border-radius: 16px;
}

.features .img-wrapper:first-child {
    margin-top: 34px;
}

.features .img-wrapper:last-child {
    margin-bottom: 34px;
}

.features .info {
    padding: 58px 0;
    padding-left: 118px;
}

.features .title {
    font-family: 'Sen';
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.27;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .desc {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5F5B53;
    margin-top: 16px;
}

.features .btn {
    margin-top: 32px;
    font-size: 1.6rem;
    padding: 11px 37px;
    line-height: 1.8;
}

.features .row:last-child {
    margin-top: 200px;
}

.features .row:last-child .info {
    padding-left: 0px;
}

.features .row:last-child .img-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

.features .row:last-child .img-block {
    padding-left: 118px;
}