* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 11px 41px;
    color: #fff;
    background: #171100;
    border-radius: 25px;
    text-align: center;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */

.header {
    /* background: red; */
    background: #FFFCF4;
    padding-top: 25px;
    position: sticky;
    z-index: 1;
    top: -25px;
}

.navbar {
    display: flex;
    padding: 11px 0;
    align-items: center;
    /* background: orange; */
}

.navbar .logo {
    margin-right: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 11px 0 11px 42px;
}

.navbar ul li:first-child a {
    color: #171100;
    padding-left: 0;
    position: relative;
}

.navbar ul li:first-child a::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 5px;

}

.navbar .btn {
    margin-left: 70px;
}